[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = ">=2.2,<2.3"
djangorestframework = ">=3.10,<3.12"
djangorestframework-simplejwt = ">=4.3,<4.4"
djoser = ">=2.0,<2.1"
gunicorn = "*"
django-heroku = "*"
dj-database-url = "*"
whitenoise = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7"
